$font-color-theme1: red;
$font-color-theme2: green;
$font-color-theme3: yellow;


$background-color-theme1-topleft: #008df7;
$background-color-theme2-topleft: #5576ac;
$background-color-theme3-topleft: #ae0808;

$background-color-theme1-topright: #0270c1;
$background-color-theme2-topright: #335285;
$background-color-theme3-topright: #ec3f3f;

$background-color-theme1-bottomleft: #2a2e35;
$background-color-theme2-bottomleft: #3b4c67;
$background-color-theme3-bottomleft: #303133;


@mixin customArrtibute($attributeName, $color1, $color2, $color3) {
  [data-theme="theme1"] & {
    #{$attributeName}:$color1;
  }
  [data-theme="theme2"] & {
    #{$attributeName}:$color2;
  }
  [data-theme="theme3"] & {
    #{$attributeName}:$color3;
  }
}


